.kaufman__traingle {
  min-width: 877px;
  min-height: 877px;
  background: no-repeat url(../../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}
